.gui {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  padding: 0.5rem 0.5rem;
  font-size: 0.5rem;
  text-align: center;
  top: 2rem;
  right: 1rem;
  color: white;
  background: #31414e;
  height: 20rem;
  width: 14rem;
  border-radius: 1.2rem;
  text-decoration: none;
  list-style: none;
  z-index: 10000;
}

ul {
  padding: 0;
  display: flex;
  margin: 0 autos;
  list-style: none;
  font-size: 1rem;
  justify-content: space-around;
}

#row {
  flex-direction: column;
}

#row li {
  margin-top: 1.2rem;
}

.selected {
  color: #d56a27;
}
